<!-- About Section -->
<section id="about" class="section">
    <div class="section-header">
        <h2 class="section-title">About Me</h2>
    </div>
    <div class="section-content">
        <p>Highly accomplished Senior Software Engineer with over 10 years of experience in designing, developing, and deploying robust, scalable mobile and enterprise apps. A strong believer in clean code, software architecture, and design patterns. Skilled in Mobile App Development, Team Leadership, Client Liaison, and Technical Speaking; adept at delivering features, enhancing user experience and cross-functional collaboration.</p>
    </div>
</section> 