<!-- About Section -->
<section id="about" class="section">
    <div class="section-header">
        <h2 class="section-title">About Me</h2>
    </div>
    <div class="section-content">
        <p>Professional Software Engineer with over 10 years of experience. I am responsible for designing, writing clean and reusable code, performing tests and maintaining the current app on the market. For me learning is always a great thing, being part of the communities like GDG Vancouver, GDG Baroda, GDG Hyderabad and AIESEC there is a lot of learning, technically and non-technically.</p>
        <p>I'm truly passionate about my work and always ready to learn the upcoming features in this field. While I enjoy all aspects of my job, I think my favourite stage of a project is working with other developers and exchanging the ideas. As we go through that collaborative process, the ideas start to flow and that's always the fun part.</p>
    </div>
</section> 