<!-- Other Projects Section -->
<section class="section">
    <div class="section-header">
        <h2 class="section-title">Other Projects</h2>
    </div>
    <div class="section-content">
        <div class="other-projects">
            <div class="other-project-item">
                <h3 class="other-project-title">
                    <a href="https://play.google.com/store/apps/details?id=com.app.heylon" target="_blank">Heylon</a>
                    <span class="project-badge">Personal</span>
                </h3>
                <p class="other-project-description">Whatever your dreams and aspirations Heylon (by Kapil Capital Private Limited) offer buy now and pay later, personal loans and group loans at least for 5 people. You can use it for Business, travel, buy electronics, cover medical expenses, home renovations & more!</p>
                <a href="https://play.google.com/store/apps/details?id=com.app.heylon" target="_blank" class="project-link">
                    <span class="material-icons">open_in_new</span>
                    Play Store
                </a>
            </div>
            
            <div class="other-project-item">
                <h3 class="other-project-title">
                    <a href="https://github.com/activesince93/AnCount" target="_blank">AnCount</a>
                    <span class="project-badge">Personal</span>
                </h3>
                <p class="other-project-description">AnCount is an app which will keeps data of how many times you have unlocked your phone throughout the day. Every time you unlock your phone it will be stored in AnCount database and you will be able to see the results month/day wise, it will also show your average unlock count.</p>
                <a href="https://github.com/activesince93/AnCount" target="_blank" class="project-link">
                    <span class="material-icons">open_in_new</span>
                    View on GitHub
                </a>
            </div>
            
            <div class="other-project-item">
                <h3 class="other-project-title">
                    DocFlow
                    <span class="project-badge">Freelance</span>
                </h3>
                <p class="other-project-description">It is a mobile solution for a company Social Discovery Ventures, Russia. This app allows user to approve or reject some type of documents. This app works with company backend (ERP system) via SOAP services.</p>
            </div>
            
            <div class="other-project-item">
                <h3 class="other-project-title">
                    MiamiWeiss
                    <span class="project-badge">Freelance</span>
                </h3>
                <p class="other-project-description">It is a mobile solution for a MiamiWeiss Dental Clinic in Wels, Austria. This application allows user to check tooth whitening results by taking a selfie, by using this app user can also book an appointment for tooth whitening.</p>
            </div>
            
            <div class="more-projects">
                <a href="https://github.com/activesince93?tab=repositories" target="_blank" class="project-link">
                    <span class="material-icons">open_in_new</span>
                    More on GitHub
                </a>
            </div>
        </div>
    </div>
</section> 